main {
  margin: 25px;
}

.title h2 {
  color: #ff4d41;
  font-size: 1.3rem;
}

.divider {
  width: calc(100% + 98px);
  transform: translateX(-49px);
  border-color: hsl(0deg 0% 99.28% / 7%);
  margin: 1.7rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  align-items: center;
  & input,
  span {
    flex: auto;
    min-width: 167px;
  }
  & label,
  .row-title {
    width: 16%;
    min-width: 167px;
    font-size: 0.85rem;
  }
  & .row-title {
    font-weight: normal;
    font-size: 1rem;
  }
  & p {
    width: 400px;
    padding-inline-start: 1rem;
    color: #b7b7b7;
    font-size: 0.7rem;
    &.row-note {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
}

.input {
  width: auto;
  max-height: fit-content;
  font-size: 1rem;
  border-radius: 1px;
  padding: 1px 16px;
}

.advanced-cta {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  & input {
    background-color: #4d90fe;
    margin-inline-end: 400px;
    border-color: #4d90fe;
    &:hover {
      background: linear-gradient(
        0deg,
        rgba(48, 121, 237, 1) 0%,
        rgba(77, 144, 254, 1) 100%
      );
      border-color: #4d90fe;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .row {
    & p {
      /* only hide on the screen but make it available for screen readers */
      display: none;
    }
    & label {
      width: 25%;
    }

    & .row-title {
      width: 100%;
    }
  }

  .advanced-cta {
    & input {
      margin-inline-end: 0px;
    }
  }
}

@media only screen and (max-width: 516px) {
  .row {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    & label,
    & input {
      width: 100%;
    }
  }
}
